:root {
  // Text Colors
  --text-primary: #23221f;
  --text-white: #fff;
  --text-gray: #9f9f9f;

  // Background colors
  --background-white: #fff;
  --background-gray: #44414180;
  --background-primary: #ffcb70;
  --background-secondary: #f89f33;

  // separate
  --separate-gray: #ffcb704d;
  --separate-primary: #ffcb70;
  --separate-secondary: #f89f33;
}
