@import '@/app/styles/typography';
@import '@/app/styles/responsive';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: var(--background-gray);

  > .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    > .spinner {
      border: 8px solid var(--separate-gray);
      border-top: 8px solid var(--separate-secondary);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 1s linear infinite;
    }
  }
}
